@use "../utilities/mixins";

// Envíos
.logo-envio {
  max-height: 180px;
  width: auto;
  padding: 6px;
}

.card-envio {
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    @include mixins.hover-scale(1.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}