// Utilidades 

@use "../utilities/variables";
@use "../utilities/mixins";

.footer-custom {
  background-color: variables.$color-principal;
  width: 100vw;
  margin-top: auto;
  padding-top: 1rem;
  box-sizing: border-box;
  
  p {
    margin: 0;
    font-size: 14px;
    text-align: right;
    color: white;
  }

  a {
    img {
      @include mixins.hover-scale(1.1);
    }
  }
}