
// Footer
.footer-custom {
  background-color: rgb(203, 4, 4);
  width: 100vw;
  margin-top: auto;
  padding-top: 1rem;
  box-sizing: border-box;
 }

  footer p {
    margin: 0;
    font-size: 14px;
    text-align: right;
    color: white;
  }
  

  a {
    img {
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
