
@use "../utilities/variables";

//General 

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: variables.$titulos;
}
h2, h3, h4{
  font-size: 30px;
  margin-bottom: 10px;
  color: variables.$titulos;
}
p {
  color: variables.$color-p;
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
}
.btn {
   background-color: variables.$color-secundario;
   color: white;

   &:hover {
     background-color: variables.$color-principal;
     color: white;
   }
}