
.barrasuperior-custom {
  background-color: rgb(203, 4, 4);
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.3rem 0;
}
.navbar {
  ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 32px;

   li{
      list-style-type: none;

          a{
              text-decoration: none;
              color: black;
          }
    }
    }
}