@use "../utilities/variables";
@use "../utilities/mixins";

.barrasuperior-custom {
  background-color: variables.$color-principal;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.3rem 0;
}

.navbar {
  ul {
    @include mixins.flex(row, center, center);
    gap: 32px;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}



