@use "../partials/utilities/variables";
@use "../utilities/mixins";

.barrasuperior-custom {
  background-color: variables.$color-principal;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.3rem 0;
}

.navbar {
  ul {
    @include mixins.flex(row, center, center);
    gap: 32px;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

body {
  font-family: $fuente-principal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;


 main {
   flex-grow: 1;
   padding: 0 16px;
  }
}

