@use "../partials/utilities/variables";
@use "../utilities/mixins";
// -------------------------
//  Mobile
// -------------------------
@media (max-width: 575.98px) {
  .logo-bienvenida img {
    max-width: 150px;
  }

.texto-bloque-principal p {
  font-size: 16px;
  padding: 0 20px;
}
 p{ 
    font-size: 18px;
 }

  h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  h2, h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }

 .carrito-icon {
    text-align: center;  
   .carrito-icon img {
     width: 80px;          
     max-width: 100%;
    } 
  }

  .medios-pago {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    img {
      max-height: 60px;
      width: auto;
      height: auto;
    }
  }

  .mapa-nosotros {
    max-width: 230px;
    
  }

  .footer-custom {
    font-size: 10px;
    text-align: center;

    p {
      font-size: 14px;
    }

    a img {
      transition: transform 0.5s ease;
    }
  }
}