
@use "../utilities/variables";

@mixin flex ($direccion, $justify, $alingn) {
    display: flex;
    flex-direction: $direccion ;
    justify-content: $justify;
    align-items:$alingn;
}

@mixin hover-scale($factor: 1.1) {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale($factor);
  }
}

@mixin mobile {
  @media (max-width: variables.$bp-mobile) {
    @content;
  }
}


@mixin tablet {
  @media (max-width: variables.$bp-tablet) {
    @content;
  }
}
